extends main.pug

block content
    h1 My Events

    ul(class='collection event-list')
        each event in USER.events
            li(class='collection-item')
                strong= moment(event.start).format('dddd, MMMM Do YYYY, h:mm:ss a')
                if (event.start !== event.end)
                    span &nbsp;to&nbsp;
                    strong= moment(event.end).format('dddd, MMMM Do YYYY, h:mm:ss a')
                if (event.reason && event.reasonPrefix)
                    span= ' ' + event.reasonPrefix + ' '
                    em= event.reason

    #cal-heatmap
