nav {
    background-color: #006cfe;
}

.brand-logo img {
    height: 50px;
    width: 50px;
    margin-top: 6px;
}

.event-list {
    color: #666;
}

.event-list strong,
.event-list em {
    color: #000;
}
